<div class="col mb-4">
    <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title"><NavLink class="text-reset" href="@($"/post/{Info.Label}")" title="@(Info.Title)">@Info.Title</NavLink></h5>
            @foreach (var tag in Info.Tags)
            {
                <NavLink class="badge badge-info" href="@($"/tag/{tag}")">@tag</NavLink>
            }
            <p class="card-text">@Info.Blurb</p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public PostInfo Info { get; set; }
}